<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.dao.SOrderMapper" >
  <resultMap id="BaseResultMap" type="com.shopping.entity.SOrder" >
    <id column="oid" property="oid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="pcount" property="pcount" jdbcType="INTEGER" />
    <result column="ptotalprice" property="ptotalprice" jdbcType="DOUBLE" />
    <result column="pstatus" property="pstatus" jdbcType="INTEGER" />
    <result column="orderdate" property="orderdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    oid, userid, pcount, ptotalprice, pstatus, orderdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shopping.entity.SOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from s_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from s_order
    where oid = #{oid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from s_order
    where oid = #{oid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shopping.entity.SOrder" >
    insert into s_order (oid, userid, pcount, 
      ptotalprice, pstatus, orderdate
      )
    values (#{oid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{pcount,jdbcType=INTEGER}, 
      #{ptotalprice,jdbcType=DOUBLE}, #{pstatus,jdbcType=INTEGER}, #{orderdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.entity.SOrder" >
    insert into s_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="pcount != null" >
        pcount,
      </if>
      <if test="ptotalprice != null" >
        ptotalprice,
      </if>
      <if test="pstatus != null" >
        pstatus,
      </if>
      <if test="orderdate != null" >
        orderdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="pcount != null" >
        #{pcount,jdbcType=INTEGER},
      </if>
      <if test="ptotalprice != null" >
        #{ptotalprice,jdbcType=DOUBLE},
      </if>
      <if test="pstatus != null" >
        #{pstatus,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_order
    <set >
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.pcount != null" >
        pcount = #{record.pcount,jdbcType=INTEGER},
      </if>
      <if test="record.ptotalprice != null" >
        ptotalprice = #{record.ptotalprice,jdbcType=DOUBLE},
      </if>
      <if test="record.pstatus != null" >
        pstatus = #{record.pstatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderdate != null" >
        orderdate = #{record.orderdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_order
    set oid = #{record.oid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      pcount = #{record.pcount,jdbcType=INTEGER},
      ptotalprice = #{record.ptotalprice,jdbcType=DOUBLE},
      pstatus = #{record.pstatus,jdbcType=INTEGER},
      orderdate = #{record.orderdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.entity.SOrder" >
    update s_order
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="pcount != null" >
        pcount = #{pcount,jdbcType=INTEGER},
      </if>
      <if test="ptotalprice != null" >
        ptotalprice = #{ptotalprice,jdbcType=DOUBLE},
      </if>
      <if test="pstatus != null" >
        pstatus = #{pstatus,jdbcType=INTEGER},
      </if>
      <if test="orderdate != null" >
        orderdate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.entity.SOrder" >
    update s_order
    set userid = #{userid,jdbcType=INTEGER},
      pcount = #{pcount,jdbcType=INTEGER},
      ptotalprice = #{ptotalprice,jdbcType=DOUBLE},
      pstatus = #{pstatus,jdbcType=INTEGER},
      orderdate = #{orderdate,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=VARCHAR}
  </update>
</mapper>