<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.dao.SPtypeMapper" >
  <resultMap id="BaseResultMap" type="com.shopping.entity.SPtype" >
    <id column="ptypeid" property="ptypeid" jdbcType="INTEGER" />
    <result column="ptypename" property="ptypename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ptypeid, ptypename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shopping.entity.SPtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from s_ptype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from s_ptype
    where ptypeid = #{ptypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from s_ptype
    where ptypeid = #{ptypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.entity.SPtype" >
    insert into s_ptype (ptypeid, ptypename)
    values (#{ptypeid,jdbcType=INTEGER}, #{ptypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.entity.SPtype" >
    insert into s_ptype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptypeid != null" >
        ptypeid,
      </if>
      <if test="ptypename != null" >
        ptypename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptypeid != null" >
        #{ptypeid,jdbcType=INTEGER},
      </if>
      <if test="ptypename != null" >
        #{ptypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_ptype
    <set >
      <if test="record.ptypeid != null" >
        ptypeid = #{record.ptypeid,jdbcType=INTEGER},
      </if>
      <if test="record.ptypename != null" >
        ptypename = #{record.ptypename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_ptype
    set ptypeid = #{record.ptypeid,jdbcType=INTEGER},
      ptypename = #{record.ptypename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.entity.SPtype" >
    update s_ptype
    <set >
      <if test="ptypename != null" >
        ptypename = #{ptypename,jdbcType=VARCHAR},
      </if>
    </set>
    where ptypeid = #{ptypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.entity.SPtype" >
    update s_ptype
    set ptypename = #{ptypename,jdbcType=VARCHAR}
    where ptypeid = #{ptypeid,jdbcType=INTEGER}
  </update>
</mapper>